body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  padding: 0 1rem;
}

.content {
  min-height: calc(100vh - 134px);
  padding: 1.5rem 0;
}

.Movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.Preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.Search .input-field {
  position: relative;
}

.Search .btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}